{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>
        {% block title %}
            Blog Engine
        {% endblock%}
    </title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" 
     integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
     integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" 
     integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" 
     integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</head>
<body>
   
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">DJANGO BLOG</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

          <ul class="navbar-nav mr-auto">
            <li class="nav-item {% if page_object.object_list %}active{% endif %}">
              <a class="nav-link" href="{% url 'posts_list_url' %}">Posts</a>
            </li>
            <li class="nav-item {% if tags %}active{% endif %}">
              <a class="nav-link" href="{% url 'tags_list_url' %}">Tags</a>
            </li>
          </ul>

          <form class="form-inline my-2 my-lg-0" action="{% url 'posts_list_url' %}">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>

        </div>
      </nav>

    <div class="container mt-4">
        <div class = "row">
            <div class="col-6 offset-md-2">
                {% block content%}
                    There is no any content for you
                {% endblock %}  

                {% if is_paginated %}
                
                  <nav aria-label="Page navigation example">
                    <ul class="pagination">
                      <li class="page-item {% if not prev_page_url %}disabled{% endif %}">
                        <a class="page-link" href="{{ prev_page_url }}">Previous</a>
                      </li>

                      {% for n in page_object.paginator.page_range %}

                        {% if page_object.number == n %}
                          <li class="page-item active">
                            <a class="page-link" href="?page={{ n }}{% if search_query %}&search={{search_query}}{% endif %}">{{ n }}</a>
                          </li>
                        {% elif n > page_object.number|add:-3 and n < page_object.number|add:3 %}
                          <li class="page-item">
                            <a class="page-link" href="?page={{ n }}{% if search_query %}&search={{search_query}}{% endif %}">{{ n }}</a>
                          </li>
                        {% endif %}

                      {% endfor %}

                      <li class="page-item {% if not next_page_url %}disabled{% endif %}">
                        <a class="page-link" href="{{ next_page_url }}">Next</a>
                      </li>
                    </ul>
                  </nav>  

                {% endif %}   
            </div>
        </div>
    </div>
    
    {% if request.user.is_authenticated and request.user.is_staff %}
      <div class="admin-panel align-items-center">
        <a href="/admin" class="btn btn-outline-info">Admin</a>

        {% block admin-panel %}
        {% endblock  %}
    {% endif %}

</body>
</html>